<div class="section about", id="about">
  <div class="row">
    <div class="large-5 columns">
      <%= image_tag "cultivating.svg", class: "icon" %>
    </div>
    <div class="large-7 columns">

    </div>
  </div>
</div>
<h1 class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, repellat, id ipsum vitae veritatis dolorum quas officia error sequi cupiditate tempore ut quaerat explicabo consequatur iusto eveniet tenetur cum eaque.lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam natus animi ratione saepe tenetur veritatis nulla inventore pariatur voluptas ad. Quisquam, et velit in sed officiis accusamus perferendis ipsum laborum!</h1>
