<div class="row">
  <div class="medium-8 medium-centered columns">
    <h3>Please sign in</h3>
    <%= form_tag sessions_url, method: "post" do %>
      <%= label_tag :username %>
      <%= text_field_tag :username, nil, autofocus: true %>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <%= submit_tag "Sign In", class: "button learn-more radius" %>
    <% end %>
  </div>
</div>
