<div class="row">
  <div class="medium-12 columns">
  <div class="row">
    <div class="medium-3 columns">
      <div class="side-nav">
        <%= render 'side_nav' %>
      </div>
    </div>
    <div class="medium-9 columns">
      <h3>Create a new text message update</h3>
      <p>Updates must be a maximum of 140 characters.</p>
      <%= form_for @update, html: { :"data-abide" => "" } do |f| %>
        <%= f.text_area :content, rows: 3, placeholder: "What do you want to say?", required: true %>
        <small class="error">Update content cannot be empty.</small>
        <div id="counter"><span class="right label secondary">0 characters</span></div>
        <div class="row">
          <div class="medium-5 large-3 columns">
            <%= f.submit "SEND UPDATE", class: "button learn-more radius expand" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
  </div>
</div>
