body {
  background-color: white;
}

h1.coming_soon {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3.5rem;
  margin-top: 1.0em;
}
.center {
  text-align: center;
}
.coming-soon-logo {
  margin-top: 50px;
  width: 350px;
}