// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea#update_content { margin-bottom: 0; }
div#counter { margin-bottom: 30px; }
table.admin-table { width: 100%; }