/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

@import 'foundation_and_overrides', 'font-awesome', 'static_pages';

body { background-color: black; }

body.f-topbar-fixed { padding:0;}

div.main-wrapper {
  margin-top: 65px;
  @media #{$medium-up} {
    padding: 20px 0 40px;
  }
}

.top-bar-logo {
  margin: 10px 5px 10px 5px;
}

.white {
  color: #FFF;
}
.section {
  padding: 30px 0;
  @media #{$medium-up} {
    padding: 60px 0;
  }
}
.section.survey {
  padding:15px 0 20px;
  text-align: center;
}
.dashed-border {
  border-top: 1px dashed #555;
  border-bottom: 1px dashed #555;
}

.black {
  background-color: #333;
}
.dark-black {
  background-color: #111;
}
.center {
  text-align: center;
}
.button.learn-more {
  background-color: #FF852A;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  color: #fff;
  display:inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #FF852A;
  box-shadow: 0px 3px 0px 0px darken(#FF852A, 25%);
  text-transform: uppercase;
  -webkit-appearance: none;
  @media #{$small-only} {
    padding: 0.65rem 1.0rem 0.70rem;
    font-size: 1rem;
  }
  &:hover {
    background-color: darken(#FF852A, 10%);
  }
  &:focus {
    background-color: darken(#FF852A, 10%);
  }
}
.light-gray {
  color:#BBB;
}
footer {
  padding: 20px 0;
  p {
    margin-bottom: 0;
  }
}
div.message-wrapper {
  margin-top: 10px;
  text-align: left;
}
.cc {
  color: #888888;
  a {
    color: inherit;
    text-decoration: underline;
  }
}
div.side-nav {
  @media #{$medium-up} {
    position: fixed;
  }
  ul.side-nav {
    padding-top: 0;
  }
}