// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation_and_overrides';

div.home-image {
  background: url('https://s3.amazonaws.com/thrivemarket.org/images/background.jpg') center center no-repeat;
  background-size: cover;
  text-align: center;
  position:relative;
  @media #{$medium-up} {
    height: 100%;
    min-height: 535px;
  }
  @media #{$small-only} {
    height: 700px;
  }
  .uvp {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.0rem;
    letter-spacing: 3px;
    color:#FFF;
    text-shadow: 1px 1px #000;
    @media #{$medium-up} {
      font-size: 2.2rem;
      text-shadow: 2px 2px #000;
    }
    @media #{$small-only} {
      font-size: 1.5rem;
      margin: 10px 0 15px;
    }
    @media #{$large-up} {
      margin-top: 35px;
    }
  }
  div.logo-wrapper {
    padding-right: 6%;
  }
  .logo {
    margin:20px 0 0;
    @media #{$large-up} {
      margin-top: 75px;
    }
  }
  .learn-more {
    margin-top: 20px;
    @media #{$large-up} {
      margin-top: 35px;
    }
  }
}
.about {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  @media #{$medium-up} {
    text-align: left;
  }
  h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 20px;
    @media #{$medium-up} {
      text-align: left;
    }
  }
  div.arrow-down {
    text-align: center;
    @media #{$medium-up} {
      text-align: left;
      margin-left: 100px;
    }
  }
  h3.center {
    text-align: center;
    margin-top: 0;
  }
  a.arrow-down {
    color:white;
    .fa-circle {
      color: rgba(55, 195, 0, 0.30);
    }
    .fa-circle.white-bg {
      color: rgba(55, 195, 0, 0.60);
    }
    .fa-angle-down {
      color:white;
      font-weight: bold;
    }
    &:hover .fa-circle {
      -webkit-transition: color 300ms ease-in;
      -moz-transition: color 300ms ease-in;
      -ms-transition: color 300ms ease-in;
      -o-transition: color 300ms ease-in;
      transition: color 300ms ease-in;
      color:$anchor-font-color;
    }
    &:hover .fa-angle-down {
      -webkit-transition: color 300ms ease-in;
      -moz-transition: color 300ms ease-in;
      -ms-transition: color 300ms ease-in;
      -o-transition: color 300ms ease-in;
      transition: color 300ms ease-in;
      color:white;
    }
  }
  .icon {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
    @media #{$medium-up} {
      width: 250px;
      height: auto;
    }
  }
}
div.sponsors {
  h3 {
    text-align: center;
    margin-bottom: 30px;
  }
  img {
    margin: 30px;
  }
  p {  margin-bottom: 5px;}
  a.social-links {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5rem;
  }
}
div.dates {
  margin-top: 30px;
  .date-card {
    -moz-box-shadow:    2px 2px 2px 2px #999;
    -webkit-box-shadow: 2px 2px 2px 2px #999;
    box-shadow:         2px 2px 2px 2px #999;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .month {
    background-color: rgb(227, 103, 103);
    padding: 10px 0;
    p {
      margin: 0;
      color: white;
      font-size: 1.8rem;
    }
  }
  .day {
    background-color: #FAFAFA;
    padding: 20px;
    margin-bottom: 30px;
    p {
      margin-bottom: 0;
      font-size: 4rem;
      line-height: 1;
    }
    small {
      font-size: 75%;
    }
  }
}
div.form-wrapper {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.phone-wrapper {
  display: table;
}
input.large-font {
  font-size: 1.5rem;
  height: 3.4rem;
  border: none;
  border-bottom: 2px dotted #BBB;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center
}

.question {
  visibility:hidden;
  display:none;
}

.alert-box {
  &.orange {
    background-color: rgba(255, 133, 42, 0.8);
    border: none;
    a {
      color: #0079FF;
    }
    .close {
      color: #FFF;
    }
  }
}