<div id="footer">
  <footer class="black">
    <div class="row">
      <div class="medium-12 columns">
        <h6 class="light-gray center">
          Thrive Neighborhood Market & Community Garden<br>
          St. Paul's Episcopal Church<br>
          900 Normal Rd.<br>
          DeKalb, IL 60115<br>
          (815) 756‐4888<br>
          <%= link_to "info@thrivemarket.org", "mailto:info@thrivemarket.org" %>
        </h6>
        <div class="copyright center">
          <small class="light-gray">&copy; St. Paul's Episcopal Church 2014</small>
          <br>
          <small class="cc">
            Cultivating designed by Jerry Wang from the <%= link_to "Noun Project", "http://thenounproject.com/term/cultivating/38049/", class: "cc" %>,
          </small>
          <small class="cc">
            and hearts designed by Brandosaur.us from the <%= link_to "Noun Project", "http://thenounproject.com/term/hearts/31226/", class: "cc" %>
          </small>
        </div>
      </div>
    </div>
  </footer>
</div>