<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Thrive Neighborhood Market & Community Garden" %></title>
    <meta name="keywords" content="DeKalb, community garden, thrive, neighborhood market, Thrive Neighborhood Market & Community Garden, St. Paul's Episcopal Church" />
    <meta name="description" content="<%= content_for?(:desc) ? yield(:desc) : 'Cultivating community by growing affordable local produce and sharing ideas for healthy living.' %>" />
    <meta property="og:url" content="http://www.thrivemarket.org">
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'Thrive Neighborhood Market & Community Garden' %>">
    <meta property="og:description" content="<%= content_for?(:desc) ? yield(:desc) : 'Cultivating community by growing affordable local produce and sharing ideas for healthy living.' %>">
    <meta property="og:image" content="https://s3.amazonaws.com/thrivemarket.org/images/background_tumblr.jpg">
    <%= favicon_link_tag 'favicon.png', :rel => 'shortcut icon' %>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40057880-2', 'thrivemarket.org');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
    <%= render 'layouts/navigation' %>

    <% if params[:action] == "home" %>
      <%= yield %>
    <% else %>
      <div class="main-wrapper">
        <div class="row">
          <div class="medium-12 columns">
            <%= render 'layouts/messages' %>
          </div>
        </div>
        <%= yield %>
      </div>
    <% end %>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag "application" %>

  </body>
</html>